*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #222828;
    color: white;
    font-family: 'Charm', cursive;
    text-align: justify;
    width: 95%;
    margin-left: 2%;

}

header{
    background-color: #0C0C0C;
    width: 94%;
    border-radius: 8%;
    margin-left:  3%;
    margin-top: 2%;
}

header img{
    margin-left: 280px;
}
header p{
    margin: 3%;
}

summary{
    list-style: none;
}

h1{
    text-align: center;
    margin: 4%;
}


img{
    width: 40px;
}

#hr1{
    width: 150px;
    height: 2px;
    margin-left: 100px;
    background: rgb(228,20,13);
    background: linear-gradient(90deg, rgba(228,20,13,1) 0%, rgba(9,9,121,1) 35%, rgba(4,128,199,1) 70%, rgba(23,255,6,1) 100%);
    border: none;
    margin-bottom: 25px;
}

#flecha{
    margin-left: 92%;
}

main{
    background-color:#C3CACA;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 8%;
    color: black;
}

.cd hr{
    margin-top: 26px;
    margin-left: 31%;
    width: 120px;
}

.cd img{
    width: 250px;
    border-radius: 35%;
    margin-left: 45px;
}

.cd h2{
    text-align: center;
    color: black;
}
button{
    margin-left: 35%;
    background-color:#C3CACA;
}

#aporte{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

footer{
    padding: 1%;
    background-color: #0C0C0C;
    text-align: center;   
}

footer img{
    width: 30px;
    margin-top: 20px;
}

footer p{
    margin-top: 25px;
}

#textoo{
    width: 100%;
    height: 330px;
}

#botoncito{
    margin-left: 0%;

}

#equis2{
    margin-left: 90%;
    width: 25px;
}

/* Tamaño Grande*/
@media screen and (min-width: 1000px){
    header img{
        margin-left: 94%;
    }
    header p{
        text-align: center;
    }
    #hr1{
        width: 155px;
        margin-left: 42%;
    }
    body {
        margin-left: 10%;
        width: 80%;
        text-align: center;
    }
    .cd hr{
        margin-left: 65%;
        background-color: rgb(83, 79, 79);
    }
    .cd img{
        width: 300px;
        border-radius: 40%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .cd h2{
        margin-top: 2%;
        margin-bottom: 4%;
    }
    button{
        margin: 0%;
    }
    .cd p{
        width: 70%;
        margin-left: 15%;
    }
}

/* Tamaño Mediano*/
@media screen and (min-width: 800px){
    header img{
        margin-left: 90%;
    }
    header p{
        text-align: center;
    }
    #hr1{
        margin-left: 40%;
    }

    body{
        font-size: 135%;
        margin-left: 10%;
        width:80%;
        text-align: center;
    }

    .cd hr{
        background-color: rgb(95, 88, 88);
        margin-left: 40%;
        width: 140px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .cd img{
        margin-top: 5%;
        width: 560px;
        margin-right: 6%;
    }

    .cd p{
        width: 90%;
        font-size:25px;
        text-align: justify;
        margin-left: 5%;
    }

    button{
        margin-left: 0%;
        margin-top: 35px;
    }
}